@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    background-image: url(images/patt.png);
    z-index: 20;
}
* {
    box-sizing: border-box;
}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.row::after,.menu::after{
    content: "";
    display: block;
    clear: both;
}
.row {
    margin-right: -20px;
}
.col-3 {
    width: 25%;
}
.col-4 {
    width: 33.33333%;
}
.col-6 {
    width: 50%;
}
.col-8 {
    width: 66.66667%;
}
.col-9 {
    width: 75%;
}
.col-12 {
    width: 100%;
}
[class*="col-"] {
    float: left;
    padding-left: 15px;
    padding-right: 15px;
}
.header {
    background-color: rgba(255, 255, 255, 0.75);
    padding: 25px 0;
}
.logo {
    margin-top: 7px;
}
.menu li{
    float: left;
    width: 25%;
    border-left: 1px solid #2c71b8;
    position: relative;
}
.menu li:last-child {
    border-right: 1px solid #2c71b8;
}

.menu a {
    display: block;
    height: 50px;
    text-decoration: none;
    color: #2c71b8;
    font-size: 21px;
    text-align: center;
    line-height: 50px;
    font-weight: 300;
    transition: all 0.3s ease;

}
.menu a:hover {
    background-color: #2c71b8;
    color: white;
    transition: all 0.3s ease;
}
.submenu {
    width: 286px;
    display: none;
}
.submenu li{
    width: 286px;
    height: 40px;
    left: -1px;
    border: 0;
    z-index: 20;
}
.submenu a {
    display: block;
    text-align: left;
    padding-left: 5px;
    background-color: #2c71b8;
    color: white;
}
.menu li:hover .submenu {
    display: block;
    position: absolute;
    transition: all 0.3s ease
}
.submenu li a:hover {
    background-color: white;
    color: #2c71b8;
    transition: all 0.3s ease
}
.drop:hover  a{
    background-color: #2c71b8;
    color: white;
    transition: all 0.3s ease
}
.drop {
    background: url(images/arrow\ down.png) no-repeat center right;
    background-size: 10%;
}
.form-search-header {
    line-height: 4px;
    border: 1px solid #2c71b8;
    width: 200px;
    height: 40px;
}
.form-search-header input {
    background-color:  transparent;
    border: none;
    line-height: 40px;
    padding: 0;
    width: 164px;
}
.form-search-header input:focus {
    outline: none;
}
.form-search-header button {
    width: 30px;
    height: 30px;
    float: right;
    background-color: #2c71b8;
    border: none;
    margin-top: 5px;
    margin-right: 5px;
    position: absolute;
    cursor: pointer;
    top: 25px;
}
.form-search-header button:hover {
    background-color: #568dc6;
}
.cart-header {
    width: 40px;
    height: 40px;
    background-color: white;
    position: relative;
    cursor: pointer;
}
.cart-header img{
    padding: 10px;
}
.product-count {
    width: 20px;
    height: 20px;
    background-color: #2c71b8;
    border-radius: 50%;
    font-size: 10px;
    text-align: center;
    line-height: 20px;
    position: absolute;
    top: -10px;
    left: -10px;
    color: white;
}
.form-search-header > input::placeholder{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #2c71b8;
    font-size: 21px;
    padding: 10px;
}
.slide {
    height: 400px;
    position: relative;
    font-size: 100px;
    color: white;
    line-height: 400px;
    background-color: rgba(35,90, 147,0.75);
    text-align: center;
    z-index: 10;
    border: 1px solid white;
 }
 .product-page-main-name {
    color: white;
    font-weight: 700;
    font-size: 35px;
 }
 .filter{
    background-color: rgba(255, 255, 255, 0.25);
    color: white;
    border-right: 1px solid #ffffff;
    padding-left: 30px;
    font-size: 21px;
    width: 270px;
    height: 840px;
}
.filter span {
    font-weight: bold;
}
.square {
    margin-bottom: 15px;
    margin-top: 15px;
}
.square-end {
    margin-bottom: 15px;
    margin-top: 15px;
    cursor: pointer;
}
.DEVICE-TYPE {
    margin-top: 35px;
    margin-bottom: 65px;
}
.RAM {
    margin-top: 65px;
    margin-bottom: 30px;
}
.filter-search{
    width: 210px;
    height: 50px;
    color: white;
    background-color: #2c71b8;
    border: 1px solid white;
    text-align: center;
    line-height: 50px;
    font-size: 21px;
}
.filter-search:hover {
    background-color: white;
    color: #2c71b8;
    cursor: pointer;
    transition: all 0.3s ease
}
.sort{
    width: 270px;
    height: 40px;
    background-color: #2c71b8;
    float: left;
    position: relative;
    font-size: 21px;
    padding-left: 20px;
    color: white;
    line-height: 40px;
    border:  1px solid white;
    z-index: 10;
    transition: all 0.3s ease;
    cursor: pointer;
    
}
.sub-sort > li{
    width: 270px;
    height: 40px;
    background-color: #2c71b8;
    float: right;
    font-size: 21px;
    padding-left: 20px;
    color: white;
    line-height: 40px;
    border:  1px solid white;
    left: 1px;
    top: -2px;
    transition: all 0.3s ease
}
.sub-sort  li:hover {
    background-color: white;
    color: #2c71b8;
    transition: all 0.3s ease
}
.sort:hover  .sub-sort {
    display: block;
    transition: all 0.3s ease
}
.sub-sort{
    top: 38px;
    position: absolute;
    left: -1px;
    display: none;
}
.breadcrambs a, .breadcrambs {
    color: #7aa5d2;
    font-size: 14px;
    text-decoration: none;
    margin-top: 30px;
    margin-bottom: 30px;
} 
.breadcrambs a:last-child{
    text-decoration: underline;
}
.breadcrambs a:hover {
    color: white;
}
.product{
    border: 1px solid #ffffff;
    color: white;
    margin-bottom: 30px;
    margin-top: 50px;
}
.product-image{
    background-color: rgba(255, 255, 255, 0.75);
    height: 180px;
    position: relative;
    margin: 0;
    padding: 10px;
}
.product-image > a {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%)
}
.zoom, .like {
    border: 1px solid #2c71b8;
    width: 30px;
    height: 30px;
    margin-bottom: 10px;
    margin-left: 220px;
    cursor: pointer;
    display: inline-block;
    position: relative;
}
.like:hover a {
    background: url("images/like2.png") no-repeat 50% 50% #2c71b8 ;
    width: 30px;
    height: 30px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%)
}
.zoom:hover a {
    background: url("images/square2.png") no-repeat 50% 50% #2c71b8 ;
    width: 40px;
    height: 30px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%)

}
.zoom > a {
    width: 40px;
    height: 40px;
 
}
.like  {
    display: block;
   padding-top: 6px;
   padding-left: 5px;
}
.zoom  {
    display: block;
    padding-top: 4px;
    padding-left: 4px;
}
.product-title {
    font-size: 30px;
    font-weight: bold;
    padding-top: 15px;
    padding-left: 15px;
}
.product-description {
    padding-left: 15px;
    padding-top: 20px;
    font-size: 21px;
}
.product-features {
    padding-left: 15px;
    padding-top: 20px;
    font-size: 21px;
}
.product-features  span {
    text-transform: uppercase;
    font-size: 21px;
    font-weight: bold; 
}
.product-price {
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    padding-top: 25px;
}
.product-price > span {
    vertical-align:text-top;
    font-size: 35px;
}
.product-button{
    margin-left: 35px;
    cursor: pointer;
}
.product-button:hover  {
    background-color: rgba(255, 255, 255, 0.75);
    color: #2c71b8;
    transition: all 0.3s ease
}
.first {
    border: 1px solid white;
    background-color: #2c71b8;
    color: white;
    width: 210px;
    
    height: 50px;
    margin-top: 30px;
    font-size: 21px;
    font-weight: bold;
    text-align: center;
}
.second{
    background-color: rgba(255, 255, 255, 0.25);
    border: 1px solid white;
    color: white;
    width: 210px;
    height: 50px;
    margin-top: 15px;
    margin-bottom: 30px;
    font-size: 21px;
    font-weight: bold;
    text-align: center;
}
.custom-checkbox { 
    display: flex;
    align-items: center;
    cursor: pointer;

}

.custom-checkbox .checkbox {
    margin-right: 10px;
}

.custom-checkbox input {
    -webkit-appearance: none; 
    position: absolute; 
}

.checkbox { 
    position: relative;
    width: 15px;
    height: 15px;
    border: 1px solid white;
    opacity: 1;
}

.checkmark { 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 15px;
    height: 15px;
    display: none; 
    background-color: white;
    border: 1px solid white;
}

.custom-checkbox input:checked ~ .checkbox .checkmark {
    display: block; 
}

.footer {
    background-color: #d1e1f0 ;
    color: #3070b8 ;
    height: 100px;
    text-align: center;
    padding-top: 50px;
}
.load-more{
    color: white;
    font-weight: 300;
    font-size: 28px;
    margin-bottom: 90px;
    cursor: pointer;
    text-align: center;
    margin-left: 280px;
    margin-top: 40px;
}
